/* 
    Created on : 26/10/2018, 23:33:15
    Author     : juliobillschvenger
*/

.button-rodape {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.btn-width-heigt {
    width: 50px;
    height: 50px;
}

.media-body-cursor{
    cursor: pointer;
}

#index-list-contatos {
    position: relative;
    border: none;
    left: 2%;
    right: 2%;
    height: 420PX;
    width: 96%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#index-list-contatos::-webkit-scrollbar { width:7px; background:#e3e0d6; }
#index-list-contatos::-webkit-scrollbar-track { background: rgba(0,0,0,0); }
#index-list-contatos::-webkit-scrollbar-thumb { border-radius:10px; background:#8b8778;  }

.tb-list-contatos:hover {
    cursor: pointer;
}

#a-link-login:hover {
    cursor: pointer;
}

#td-id-nome {padding: 30px;}
#td-id-telefone {padding: 30px;}
#td-id-email {padding: 30px;}

.style-edit {
    padding: 20px;
    margin: 6px;
    position: relative;
    width: 98%;
}

#id-menu-editar-excluir {
    position: fixed;
    right: 10%;
    top: 2%;
    padding: 0px 10px 0px 0px;
}

input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
}